.App {
  text-align: center;
}

.productPic{
  width: 150px;
  height:150px;
  object-fit: contain;
}
.productsContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.productDiv{
  width: 250px;
  height: 250px;
  border: 2px solid darkblue;
  padding: 20px;
}